.cart {
    /* position: sticky; */
    display: flex;
    flex-direction: column;
    padding-block: .55rem;
    font-size: var(--fs-sm);
    gap: .35rem;
}

.cart>h2 {
    color: var(--clr-red)
}

.cart_empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 2rem;
}

.cart_empty>p {
    font-weight: var(--fw-bold);
    color: var(--clr-rose-500);
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 0.9rem;
}

.price>strong {
    font-size: var(--fs-700);
}

.carbon {
    width: 100%;
    background-color: var(--clr-rose-50);
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    border-radius: var(--border-rad);
    font-size: var(--fs-sm);
    margin-bottom: 1rem;
}

.btn {
    width: 100%;
    background-color: var(--clr-red);
    color: var(--clr-rose-50);
    font-size: var(--fs-normal);
    padding-block: 1rem;
    font-weight: var(--fw-bold);
    border-radius: 2rem;


    &:hover,
    &:focus {
        background-color: brown;
    }
}