.wrapper {
    display: grid;
}

.wrapper>* {
    margin-bottom: 1rem;
}


.btn {
    padding: 1rem 2rem;
    background-color: var(--clr-red);
    border-radius: 2rem;
    color: white;
    text-decoration: none;
    font-weight: var(--fw-bold);
    align-items: center;
    text-align: center;
}